BOT_TOKEN=
OAUTH2_CLIENT_ID=
OAUTH2_CLIENT_SECRET=
OAUTH2_ENCRYPTION_KEY=

WEB_URL=http://localhost:11234
AUTH_SECRET=

HMD_API_URL=http://localhost:11234/api
HDS_API_URL=https://hexo.mineking.dev/proxy/api
